%% -*- mode: erlang -*-

{require_min_otp_vsn, "R15"}.

{erl_opts,
 [{i, "include"},
  {i, "src/dbdrivers/postgresql/include"},
  {i, "deps/webzmachine/include"},
  {i, "deps"},
  {parse_transform, lager_transform},
  {src_dirs,
   ["src",
    "modules",
    "priv/modules",
    "priv/extensions",
    "priv/sites"]
  }
 ]
}.

{deps,
 [
  %% Elli deps and extra middleware.
  {elli, ".*", {git, "git://github.com/mmzeeman/elli.git", {branch, "ssl+handover"}}},
  {elli_date, ".*", {git, "git://github.com/knutin/elli_date.git", {branch, "master"}}},
  {elli_server_name, ".*", {git, "git://github.com/mmzeeman/elli_server_name.git", {branch, "master"}}},
  {elli_debug, ".*", {git, "git://github.com/mmzeeman/elli_debug.git", {branch, "master"}}},
  {elli_websocket, ".*", {git, "git://github.com/mmzeeman/elli_websocket.git", {branch, "master"}}},
  {elli_machine, ".*", {git, "git://github.com/mmzeeman/elli_machine.git", {branch, "master"}}},

  {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {bert, ".*", {git, "git://github.com/zotonic/bert.erl.git", {branch, "master"}}},
  {dh_date, ".*", {git, "git://github.com/zotonic/dh_date.git", {branch, "master"}}},
  {eiconv, ".*", {git, "git://github.com/zotonic/eiconv.git", {branch, "master"}}},
  {gen_smtp, ".*", {git, "git://github.com/zotonic/gen_smtp.git", {branch, "master"}}},
  {mimetypes, ".*", {git, "git://github.com/zotonic/mimetypes.git", {branch, "master"}}},

  {ua_classifier, ".*", {git, "git://github.com/zotonic/ua_classifier.git", {branch, "master"}}},

  {z_stdlib, ".*", {git, "git://github.com/zotonic/z_stdlib.git", {branch, "master"}}},
  {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
  
  % emqtt and its dependency
  {elog, ".*", {git, "git://github.com/zotonic/elog.git", {branch, "master"}}},
  {emqtt, ".*", {git, "git://github.com/zotonic/emqtt.git", {branch, "zotonic"}}}
 ]
}.
